@model IEnumerable<BookLibrary.Models.Book>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p>
    @Html.ActionLink("New Book", "New", "Books", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>We don't have any book.</p>
}
else
{
    <table id="books" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>              
                <th>Language</th>
                <th>Number In Stock</th>
                @*<th>Book Type</th>*@
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var book in Model)
            {
                <tr>
                    <td>@Html.ActionLink(book.Name, "Edit", "Books", new { id = book.Id }, null)</td>
                    <td>@book.BookLanguage.Name</td>
                    <td>@book.NumberInStock</td>
                    @*<td>@book.BookType.Name</td>*@
                    <td>
                        <button data-book-id="@book.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#books").on("click",".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Are you sure to delete this book?", function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/books/" + button.attr("data-book-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}